@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
body {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 25px;
}

@media (max-width: 955px) {
  .container--tablet {
    max-width: 623px;
  }
}

@media (max-width: 425px) {
  .container--tablet {
    max-width: none;
  }
}

.attribution {
  color: #e6e6e6;
  font-size: 11px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.attribution__text {
  margin-bottom: 10px;
}

.attribution__text a {
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.attribution__text a:hover {
  color: #d07f15;
}

.attribution__text .grifano-logo {
  color: white;
  background-color: #0061cc;
}

.attribution__text .grifano-logo span {
  color: #d07f15;
  background-color: #0061cc;
}

.header {
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 50px;
}

.heading {
  display: inline-block;
  color: #28283d;
  font-size: 4rem;
  line-height: 1;
  font-weight: 900;
  text-align: center;
}

.heading__subheading {
  display: block;
  color: #4d96a9;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 769px) {
  .heading {
    font-size: 3.1rem;
    margin: 0px 0px 15px 0px;
  }
}

.text {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
  color: #87879d;
}

.button {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.6;
  padding: 16px 43px;
  border-radius: 29px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button__version {
  color: #8fe3f9;
}

.button__version--purple {
  color: #d9b8ff;
}

.button--green {
  background-color: #4d96a9;
}

.button--green:hover {
  background-color: #71c0d4;
}

.button--purple {
  background-color: #855fb1;
}

.button--purple:hover {
  background-color: #b18bdd;
}

.hero {
  height: 100vh;
  margin: -50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 769px) {
  .hero {
    background-image: url("../assets/tablet/image-hero.png");
    background-repeat: no-repeat;
    background-position: center top 12%;
    background-size: 110%;
  }
}

.hero__column--middle {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (max-width: 769px) {
  .hero__column--middle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.hero__people--left {
  width: 394px;
  height: 303px;
  margin: 0px 0px 0px -30px;
}

.hero__people--left img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 769px) {
  .hero__people--left {
    display: none;
  }
}

.hero__people--right {
  width: 394px;
  height: 303px;
  margin: 0px -30px 0px 0px;
}

.hero__people--right img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 769px) {
  .hero__people--right {
    display: none;
  }
}

.hero__content {
  display: inline-block;
  max-width: 560px;
  padding: 0 10px;
  text-align: center;
}

@media (max-width: 769px) {
  .hero__content {
    padding: 0px 25px;
    margin: 40% 0px 0px 0px;
  }
}

.hero__heading {
  max-width: 445px;
  margin: 0px 0px 35px 0px;
}

@media (max-width: 769px) {
  .hero__heading {
    margin: 0px 0px 15px 0px;
  }
}

.hero__text {
  margin: 0px 0px 30px 0px;
}

.hero__button {
  margin: 8px;
}

.hero__button:first-child {
  margin-top: 0;
}

.hero__button:last-child {
  margin-bottom: 0;
}

.what-is-it {
  min-height: 100vh;
  padding: 10vmax 0px 50px 0px;
  text-align: center;
}

.what-is-it__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(151px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  list-style-type: none;
  margin: 0px 0px 80px 0px;
}

@media (max-width: 955px) {
  .what-is-it__row {
    grid-column-gap: 10px;
  }
}

.what-is-it__item {
  border-radius: 8px;
  overflow: hidden;
}

.what-is-it__item img {
  max-width: 100%;
  height: auto;
}

.what-is-it__heading {
  font-size: 40px;
  line-height: 1.1;
  max-width: 445px;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 425px) {
  .what-is-it__heading {
    max-width: 305px;
    font-size: 32px;
  }
}

.what-is-it__text {
  margin: 0 auto;
  max-width: 540px;
}

@media (max-width: 995px) {
  .what-is-it__text {
    max-width: none;
  }
}

.footer {
  padding: 116px 0px 74px;
  background-image: url("../assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 955px) {
  .footer {
    padding: 92px 0px 32px;
  }
}

.footer::before {
  background-color: #4d96a9;
  opacity: 0.8;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer__row {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 955px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }
}

.footer__heading {
  max-width: 350px;
  font-size: 40px;
  line-height: 1.1;
  color: #fafafa;
  text-align: left;
}

@media (max-width: 955px) {
  .footer__heading {
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
}

.footer__text {
  max-width: 350px;
  color: #fafafa;
  text-align: left;
  opacity: 0.8;
}

@media (max-width: 955px) {
  .footer__text {
    max-width: none;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
}
